{% extends 'blog/base.html' %}
{% block body_block%}

<div class="jumbotron">
  <h1>LOgin</h1>
  <h2>Must be superuser</h2>
  {%if form.errors%}

  <p>Username and password didn't match,please recheck</p>
  <a class="btn btn-primary" href="{% url 'login' %}">LOgin</a>
  {%else%}
  <form  method="post" action="{%url 'login' %}" >
    {%csrf_token%}
    {{form.as_p}}

    <input type="submit"  class="btn btn-primary"  value="Login">
    <input type="hidden" name="next" value="{{next}}" />

  </form>
  {%endif%}

</div>


{% endblock %}
