{% extends 'blog/base.html' %}

{% block body_block%}

<h1>Letters of Credit</h1>

Trade Innovation Plus and Tradewatch is part of the Northern’s Letter of Credit unit and is run on a Windows 2003 Server on TNT LAN.
 Northern has contracted with MISYS International Banking Systems for the ongoing enhancement, maintenance, and support of this package. Trade Innovation Plus is a vended application that runs on Microsoft Windows XP and Internet Explorer 6.0.
Trade Innovation Plus is an n-tier, browser based architecture that allows both Local and Remote access.


{%endblock%}
